<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Subcloning DEMO</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.imageLens.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link href="./css/style.css" rel="stylesheet">
    {% block head %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#plasmid_fig").imageLens({
                lensSize: 200
            });
            //$.fn.test = function()



            var mcs_ac = [
            {% for RE_entry in mcs_dict['mcs_ac'] %}
                {value: "{{RE_entry['value']}}",
                label: "{{RE_entry['label']}}",
                desc: "{{RE_entry['desc']}}"
                },
            {% endfor %}
            ];
            var mcs_re_pos=[
            {% for RE_entry in mcs_dict['mcs_ac'] %}
                "{{RE_entry['value']}}",
            {% endfor %}
        ];
            $(".ez_pos").autocomplete({
                minLength: 0,
                source: mcs_ac,
                focus: function( event, ui ) {
                    $( this).val( ui.item.value );
                    return false;
                },
                select: function( event, ui ) {
                    $( this).val( ui.item.value );
                    $( this).siblings(".ez_txt").html( ui.item.desc );
                    $( this).siblings(".ez_h_txt").val(ui.item.desc );
                    return false;
                }
            })
                    .data( "ui-autocomplete" )._renderItem = function( ul, item ){
                return $( "<li>" )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };
        $("#ez1_txt").html($("#ez1_txt").siblings(".ez_h_txt").val());
        $("#ez2_txt").html($("#ez2_txt").siblings(".ez_h_txt").val());
        $("#sub").click(function(){
            $.ajax({
                type:"POST",
                async:false,
                url: "subcloning.py",
                data: "vec_re_check={'ez1_pos': '"+$("#ez1_pos").val()
                        +"', 'ez2_pos': '"+$("#ez2_pos").val()
                        +"', 'mcs_re_pos': '["+mcs_re_pos+"]'}",
                success: function(data){
                    if (data.toLowerCase().indexOf("ok result") >= 0){
                        $("#test").html("Please wait while redirecting your to the next page......");
                        form.submit();
                        //$("#test").replaceWith('<p id="test" style="color: red">'+data+'</p>');
                    }
                    else{
                        $("#test").html(data);
                        //$("#test").append(data);
                        //$("#test").replaceWith('<p id="test">'+data+'</p>');
                    }
                }
            });


        });


        });
    </script>
    {% endblock %}
</head>
<body>
    <h2>Subcloning Tool-----<i><small>modify your construct</small></i></h2>
    <div class="surrounding" >
        {{headline}}
        <br><br>
        <form method="POST" enctype="multipart/form-data" action="./subcloning.py"  id="form">
            <input type="hidden" name="ins_dict" value="{{ins_dict}}">
            <input type="hidden" name="path_dict" value="{{path_dict}}">
            <input type="hidden" name="mcs_dict" value="{{mcs_dict}}">
            <input type="hidden" name="name_dict" value="{{name_dict}}">
            <img src="{{path_dict['mcs_path']}}" border="0" width="620" height="160" alt="Sequence diagram" title="test"><br>
            {% block body %}
            Our <a href="http://www.genscript.com/cloneez_PCR_Cloning_kit.html" title="Click to see more information">
            CloneEZ cloning method</a>
            works with any insert and any vector at any restriction site.

            <div class="surrounding" id="re_sub" style="border-style:dashed;">
                Do you want to insert you seq between:<br>
                <span id=enzyme1 style="color:blue">
                    <input id=ez1_pos name=ez_pos class="ez_pos" type="text" size=3 value="">
                    <span id=ez1_txt class="ez_txt" name=ez_txt></span>
                    <input type="hidden" name=ez_txt class="ez_h_txt" value="">
                </span>
                <br>and<br>
                <span id=enzyme2 style="color:blue">
                    <input id=ez2_pos name=ez_pos class="ez_pos" type="text" size=3 value="">
                    <span id=ez2_txt class="ez_txt" name=ez_txt></span>
                    <input type="hidden" name=ez_txt class="ez_h_txt" value="">
                </span>
                <br><span style="color:grey;">(the correct number of protective nucleotides will be automatically added to protect<br>
                your inserted sequence and to maintain the reading frame)</span>
            </div>
            {% endblock %}<br>
            <div style="clear:both;"><img id="plasmid_fig" src="{{path_dict['vector_path']}}" border="0" height="600px" width="780px"  /></div><br>
            <div >
                <br><label>A view of the Multiple Cloning Site</label><br>
                <textarea name="mcs_seq" rows="5" cols="70" readonly style="background:#E6E6FA;color:grey;">{{mcs_dict["mcs_seq"]}}
                </textarea><br>
                <p id="test" style="color: red"> </p><br>
                <input id="sub" class="button" type="button" value="Next" name="{{name_dict['button_name']}}" style="width:160px">
                <input name="{{name_dict['button_name']}}" type="hidden" value="1">
                <input type="button" class="button" onclick=history.go(-1) value="Back" >
            </div>
        </form>
    </div>
    <div style="position:absolute;width:100;height:10;top:1300px;left:0px;border:1px dotted black"></div>
</body>
</html>