<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>test</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link href="./css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.fn.autocomplete_mutation = function(){
                $.ajax({
                type:"POST",
                async:false,
                dataType :"json",
                url: "subcloning.py",
                data: "in_seq_mut={{protein_seq}} ",
                success: function(data){
                    var source_list=data["source_list"];
                    var target_list=data["target_list"];
                    $(".mut_site").autocomplete({
                        source: source_list,
                        minLength: 0
                    });
                    $(".mut_target").autocomplete({
                        source: target_list,
                        minLength: 0
                    });
                }});
            };
            $.fn.autocomplete_mutation();

            $("#add_muta_site").click(function(){
                $("#mut_div").append('<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                        '------- <input type="text" class="mut_site" style="width: 80"> ' +
                        'to <input type="text" class="mut_target" style="width: 80"></p>');
                $.fn.autocomplete_mutation();
            });
            $("#add_muta").click(function(){
                $("#mut_div").append('<p>Mutant ------- <input type="text" class="mut_site" style="width: 80"> ' +
                        'to <input type="text" class="mut_target" style="width: 80"></p>');
                $.fn.autocomplete_mutation();
            });
            $("#rm_muta").click(function(){
                if ($("p :last").attr("id") != "first_entry"){
                    $("p :last").remove();
                }
            });
        });
    </script>
</head>
<body>
<h2>Subcloning Tool-----<i><small>mutagenesis</small></i></h2>
<div class="surrounding" >
    <pre><b>Translated sequence (the aas are colored according to the hydrophobicity table. The most hydrophobic
residues are coloured red and the most hydrophilic ones are coloured blue.):</b>
{{format_seqs[0]}}</pre>
    <form method="POST" enctype="multipart/form-data" action="./subcloning.py" >
        <input class="button" type="button" value="Add a &#13;&#10;mutation site"
               id="add_muta_site" name="add_muta_site" style="height:30px; font-size: 9px;">
        <input class="button" type="button" value="Add a &#13;&#10;mutant"
               id="add_muta" name="add_muta" style="height:30px; font-size: 9px">
        <input class="button" type="button" value="Remove a &#13;&#10;mutant/mutation"
               id="rm_muta" name="rm_muta" style="height:30px; font-size: 9px">
        <br><br>
        <div class="surrounding" id="mut_div" style="border-style:dashed;">
            Mutagenesis: Please enter the position you want to add a mutation :<br>
            <p id="first_entry">Mutant ------- <input type="text" class="mut_site" style="width: 80"> to
                <input type="text" class="mut_target" style="width: 80"></p>

        </div>
        <div style="clear: both"><br>
            <input class="button" type="submit" value="Finish and &#13;&#10;get quote"
                   id="get_quote" name="get_quote" style="height:30px; font-size: 9px">
            <input type="button" value="Back" class=button style="height:30px" onclick=history.go(-1)>
        </div>
    </form>
</div>
<div style="position:absolute;width:100;height:10;top:1100px;left:0px;border:1px dotted black"></div>
</body>
</html>