<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Subcloning DEMO</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.imageLens.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link href="./css/style.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function(){
            $("#plasmid_fig").imageLens({
                lensSize: 200
            });
        });
    </script>
</head>
<body>
<h2>Subcloning Tool-----<i><small>report on your construct</small></i></h2>
<div class="surrounding" style= "width:900;">
    <table border="1">
        <tr>
            <th width=20>icon</th>
            <th width=250>item</th>
            <th width=450>content</th>
            <th width=400>comment</th>
        </tr>
        {%for entry in check_result%}
        <tr>
            <td><center><img src="pics/{{entry[0]}}.png" border="0" width=20/></center></td>
            <td>{{entry[1]}}</td>
            <td>{{entry[2]}}</td>
            <td>{{entry[3]}}</td>
        </tr>
        {%endfor%}
    </table>
    <input type="button" value="Back" class=button style="height:30px" onclick=history.go(-1)>
    {%block optional%}
    <br><br><img src="{{path_dict['vector_path']}}" width="800" id=plasmid_fig>
    <pre><b>Translated sequence (the aas are colored according to the C table. The most hydrophobic
residues are coloured red and the most hydrophilic ones are coloured blue.):</b><br>
{{format_seqs[0]}}</pre>
    <pre><b>The DNA sequence:</b><br>
{{format_seqs[1]}}</pre>
<form method="POST" enctype="multipart/form-data" action="./subcloning.py" >
    <input type="hidden" name="ins_dict" value="{{ins_dict}}">
    <input type="hidden" name="path_dict" value="{{path_dict}}">
    <input type="hidden" name="mcs_dict" value="{{mcs_dict}}">
    Plasmid Preparation:
    <input type="text" id="plasmid_q"  name="plasmid_q" size=2 value="4 ">
    ug<br>
    <input id="submit" type="submit" value="Continue to&#13;&#10; Mutagenesis" class="button" name="goto_muta" style="height:30px;font-size: 9px">
    <input type="button" value="Export in &#13;&#10;Genbank format" class="button" name="export" style="height:30px;font-size: 9px">
    <input type="button" value="Finish and &#13;&#10;get quote" class="button" name="quote" style="font-size:9px;height:30px;width:60px">
    {%endblock%}
</form>
</div>
<div style="position:absolute;height:100;top:500;border:1px dotted white"></div>
</body>
</html>